html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Consente al contenuto principale di occupare tutto lo spazio disponibile */
}



.App-link {
  color: #61dafb;
}




footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* App.css */


